
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
      <h1>
        <%= gravatar_for @user, size: 50 %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<dl>
  <dt>ユーザー名</dt><dd><%= @user.name %></dd>
</dl>
<dl>
  <dt>メールアドレス</dt><dd><%= @user.email %></dd>
</dl>

<p>
  作成：<%= @user.created_at %>
</p>
<p>
  最終更新：<%= @user.updated_at %> / <%= last_update_time %>
</p>
<p>
  現在時刻：<%= Time.now %>
</p>
