
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <%= link_to "sample app", root_path, id: "logo", class: "navbar-brand" %>

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><%= link_to "ホーム", root_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "初めての方へ", about_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "お問い合わせ", contact_path, class: "nav-link" %></li>

          <% if logged_in? %>
          <li class="nav-item">
            <a href="" class="nav-link">コース一覧</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="header-gravatar"><%= gravatar_for @current_user, size: 24 %></span>
                <%= @current_user.name %>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <%= link_to "マイページ", current_user, class: "dropdown-item" %>
                <%= link_to "設定", edit_user_path(current_user), class: "dropdown-item" %>
                <%= link_to "ヘルプ", static_pages_help_path, class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to "ログアウト", logout_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
            <li class="nav-item"></li>
          <% else %>
            <li class="nav-item"><%= link_to "新規登録", signup_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "ログイン", login_path, class: "nav-link" %></li>
          <% end %>



        </ul>
      </div>
    </div>
  </nav>
