<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="list"><%= link_to "Home", root_path, class: "link" %></li>
        <li class="list"><%= link_to "About", static_pages_about_path, class: "link" %></li>
        <li class="list"><%= link_to "Contact", static_pages_contact_path, class: "link" %></li>
        <li class="list"><%= link_to "Help", static_pages_help_path, class: "link" %></li>
      </ul>
    </nav>
  </div>
</header>
